
@{
    ViewBag.Title = "Index";
}

<br />

<div class="jumbotron" style="background-color:indigo; color: white;">
    <h1>Pizzeria Solis</h1>
</div>


<div class="row text-center">
    <h3>Contamos con</h3>
    <hr />
    <br />

    <div class="col-md-6">
        <p>Diferentes tamaños de pizza:</p>

        <ul>
            <li>Chica</li>
            <li>Mediana</li>
            <li>Grande</li>
        </ul>

    </div>

    <div class="col-md-6">
        <p>Diferentes ingredientes:</p>

        <ul>
            <li>Jamon</li>
            <li>Piña</li>
            <li>Champiñones</li>
        </ul>

    </div>

</div>





